In [1]:
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import joblib

In [4]:
# Get Historical Data: Sample 1

In [5]:
df1 = pd.read_csv("data/Client_14Nov23_4pm.csv", encoding='ISO-8859-1', low_memory=False)
df3 = pd.read_excel("data/New_Ticket_Product_Details_14Nov_23.xlsx")
df4 = pd.read_csv("data/Tickets_14Nov23_4pm.csv", encoding='ISO-8859-1', low_memory=False)

In [6]:
df4.dropna(subset=['ClientID'], inplace=True)

In [7]:
# Get Models

In [8]:
from models.rfm import RFMModel

In [9]:
# Try to convert the 'column_name' to int64, handling errors
try:
    df4['TicketID'] = df4['TicketID'].astype('int64')
except ValueError:
    # Handle non-numeric values, for example, replacing them with NaN
    df4['TicketID'] = pd.to_numeric(df4['TicketID'], errors='coerce')

In [10]:
df4.dropna(subset=['ClientID'], inplace=True)

In [11]:
sales_df = pd.merge(df3, df4, on='TicketID', how='left')

In [13]:
rfm = RFMModel(sales_df=sales_df, user_col="ClientID", date_col="Created_Date2", spend_col="Total_y")
rfm.fit_and_save_model()

In [14]:
rfm.predict_segment()

,SalonID,TicketID,Mob #,Client ID,Client Name,Mob #.1,ProdID,Group1,Sub grp,EmpID,...,servicedesc,BillStatus,TotalSpend,NumVisits,DaysSinceLastVisit,Monetary,Frequency,Recency,Cluster,Cluster Segment
0,907,1,9940060569,JERRY9940060569,JERRY,NaN,GHHCUTNR,NaN,NaN,9079999,...,HAIRCUT (GENTS),Closed,48177.42,73,1466.0,48177.42,73,1466.0,3,New Customers
1,907,2,9884402095,Saranya9884402095,Saranya,NaN,LHHCUTAD,Ladies Hcut,Adv Hcut,9079999,...,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed,60525.10,50,2098.0,60525.10,50,2098.0,3,New Customers
2,907,2,9884402095,Saranya9884402095,Saranya,NaN,LSTHDGEB,NaN,NaN,9079999,...,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed,60525.10,50,2098.0,60525.10,50,2098.0,3,New Customers
3,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LBMANIFR,NaN,NaN,9079999,...,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed,99741.72,90,218.0,99741.72,90,218.0,3,New Customers
4,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LSTHDGEB,NaN,NaN,9079999,...,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed,99741.72,90,218.0,99741.72,90,218.0,3,New Customers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288675,907,140154,9994691502,jiya kumar9994691502,jiya kumar,NaN,LSTHDGEB,NaN,NaN,909477,...,THREADING - EYEBROW - (LADIES)/BEARD TRIM - (G...,Closed,2876.84,4,0.0,2876.84,4,0.0,3,New Customers
288676,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSBTRMNR,NaN,NaN,911080,...,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (GE...,Closed,5953.10,5,0.0,5953.10,5,0.0,3,New Customers
288677,907,140155,9566176618,vignesh9566176618,vignesh,NaN,LBDBUNAR,NaN,NaN,911080,...,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (GE...,Closed,5953.10,5,0.0,5953.10,5,0.0,3,New Customers
288678,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GHHMSGOL,Head Msg,Olive,911080,...,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (GE...,Closed,5953.10,5,0.0,5953.10,5,0.0,3,New Customers
288679,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSSKFC30,CleanUp,SkinLight(G),911080,...,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (GE...,Closed,5953.10,5,0.0,5953.10,5,0.0,3,New Customers

In [15]:
len(rfm.predict_segment())

288680

In [16]:
len(sales_df)

288680

In [17]:
rfm.rf_segmentation()

,SalonID,TicketID,Mob #,Client ID,Client Name,Mob #.1,ProdID,Group1,Sub grp,EmpID,...,Frequency,Recency,Cluster,Cluster Segment,R,F,M,RFM_Segment,Segment,Description
0,907,1,9940060569,JERRY9940060569,JERRY,NaN,GHHCUTNR,NaN,NaN,9079999,...,73,1466.0,3,New Customers,3,4,4,344,Loyal customers,Customers who purchase frequently and recently...
1,907,2,9884402095,Saranya9884402095,Saranya,NaN,LHHCUTAD,Ladies Hcut,Adv Hcut,9079999,...,50,2098.0,3,New Customers,2,4,4,244,At risk,Customers who have not made purchases recently...
2,907,2,9884402095,Saranya9884402095,Saranya,NaN,LSTHDGEB,NaN,NaN,9079999,...,50,2098.0,3,New Customers,2,4,4,244,At risk,Customers who have not made purchases recently...
3,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LBMANIFR,NaN,NaN,9079999,...,90,218.0,3,New Customers,4,4,4,444,Loyal customers,Customers who purchase frequently and recently...
4,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LSTHDGEB,NaN,NaN,9079999,...,90,218.0,3,New Customers,4,4,4,444,Loyal customers,Customers who purchase frequently and recently...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288675,907,140154,9994691502,jiya kumar9994691502,jiya kumar,NaN,LSTHDGEB,NaN,NaN,909477,...,4,0.0,3,New Customers,5,1,1,511,New customers,Recently acquired customers with the potential...
288676,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSBTRMNR,NaN,NaN,911080,...,5,0.0,3,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...
288677,907,140155,9566176618,vignesh9566176618,vignesh,NaN,LBDBUNAR,NaN,NaN,911080,...,5,0.0,3,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...
288678,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GHHMSGOL,Head Msg,Olive,911080,...,5,0.0,3,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...
288679,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSSKFC30,CleanUp,SkinLight(G),911080,...,5,0.0,3,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...

In [18]:
len(rfm.rf_segmentation())

288680

In [19]:
rfm.rfm_tiering()

,SalonID,TicketID,Mob #,Client ID,Client Name,Mob #.1,ProdID,Group1,Sub grp,EmpID,...,Cluster Segment,R,F,M,RFM_Segment,Segment,Description,RFM_Score,Tier,description
0,907,1,9940060569,JERRY9940060569,JERRY,NaN,GHHCUTNR,NaN,NaN,9079999,...,New Customers,3,4,4,344,Loyal customers,Customers who purchase frequently and recently...,11,Platinum,Top tier customers with the highest RFM scores...
1,907,2,9884402095,Saranya9884402095,Saranya,NaN,LHHCUTAD,Ladies Hcut,Adv Hcut,9079999,...,New Customers,2,4,4,244,At risk,Customers who have not made purchases recently...,10,Gold,High tier customers with strong loyalty and va...
2,907,2,9884402095,Saranya9884402095,Saranya,NaN,LSTHDGEB,NaN,NaN,9079999,...,New Customers,2,4,4,244,At risk,Customers who have not made purchases recently...,10,Gold,High tier customers with strong loyalty and va...
3,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LBMANIFR,NaN,NaN,9079999,...,New Customers,4,4,4,444,Loyal customers,Customers who purchase frequently and recently...,12,Platinum,Top tier customers with the highest RFM scores...
4,907,3,9176222704,Lakshmi rajkumar9176222704,Lakshmi rajkumar,NaN,LSTHDGEB,NaN,NaN,9079999,...,New Customers,4,4,4,444,Loyal customers,Customers who purchase frequently and recently...,12,Platinum,Top tier customers with the highest RFM scores...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288675,907,140154,9994691502,jiya kumar9994691502,jiya kumar,NaN,LSTHDGEB,NaN,NaN,909477,...,New Customers,5,1,1,511,New customers,Recently acquired customers with the potential...,7,Bronze,Lower tier customers who are less engaged or a...
288676,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSBTRMNR,NaN,NaN,911080,...,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...,8,Silver,Mid-tier customers with moderate loyalty and v...
288677,907,140155,9566176618,vignesh9566176618,vignesh,NaN,LBDBUNAR,NaN,NaN,911080,...,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...,8,Silver,Mid-tier customers with moderate loyalty and v...
288678,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GHHMSGOL,Head Msg,Olive,911080,...,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...,8,Silver,Mid-tier customers with moderate loyalty and v...
288679,907,140155,9566176618,vignesh9566176618,vignesh,NaN,GSSKFC30,CleanUp,SkinLight(G),911080,...,New Customers,5,1,2,512,New customers,Recently acquired customers with the potential...,8,Silver,Mid-tier customers with moderate loyalty and v...

In [20]:
len(rfm.rfm_tiering())

288680